<div style="display: flex; justify-content: center; align-items: center; height: 60vh">
    <form>
      <h1>Login</h1>
      <div>
        <label for="username">e-mail:</label>
        <input type="text" id="username" [(ngModel)]="employeeDetails.email" name="e-mail">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
      </div>
      <button >Login</button>
      <div>
        <a routerLink="/signup">Don't have an account? Sign up!</a>
    </div>
    </form>
  </div>



